@import "../variables.scss";

.buy-currency-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: $currency-block-width;
    color: #68892E;
    border: 1px solid #E8E9EA;
    background-color: white;
    border-radius: 40px 0 0 40px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        color: #FFFFFF;
        border-color: $currency-block-hover-border-color;
        border-width: $currency-block-hover-border-width;
        background-color: $color-green;
    }

    &__title {
        flex: 1 1 auto;
        font-weight: bold;
    }
}