@import "./variables";

body {
  font-family: 'Noto Sans', Arial, sans-serif;
  background-color: #E8E8E8;
}

.currency-pair-blocks-list {
    display: flex;
    flex-wrap: wrap;
    padding: $currency-pair-margin;
}