$currency-block-width: 150px;
$currency-block-hover-border-width: 3px;
$currency-block-hover-border-color: #4BACC6;
$currency-pair-margin: 5px;
$price-change-indicator-width: 8px;
$color-red: #FF0000;
$color-green: #7FD13B;